.search-butt{
    margin-top: 10px;
    margin-bottom: -10px;
}
#movies img {
    width: 100%;

}

@media(min-width:960px){
    #movies .col-md-3{
        height: 490px;
    }

    #movies .col-md-3 .well img{
        height: 70%;
    }
}
#movies .col-md-3 .well{
    height: 100%;
}

.well{
    margin: 25px;
}
h2{
    text-align: center;
}
.col-md-8{
    max-width: 100%;
}
#movie .col-md-4 img{
   
    width: 100%;
    height: 100%;
}

